-
	const defaultCatalogCardProps = {
		classes: '',
		title: '',
		desc: '',
		image: '',
		tags: [],
		prices: [],
		vMode: '',
		notForSale: false
	}

mixin catalog-card(props = defaultCatalogCardProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultCatalogCardProps.classes,
			title: props.title ? props.title : defaultCatalogCardProps.title,
			desc: props.desc ? props.desc : defaultCatalogCardProps.desc,
			image: props.image ? props.image : defaultCatalogCardProps.image,
			tags: props.tags ? props.tags : defaultCatalogCardProps.tags,
			prices: props.prices ? props.prices : defaultCatalogCardProps.prices,
			vMode: props.vMode ? props.vMode : defaultCatalogCardProps.vMode,
			notForSale: props.notForSale ? props.notForSale : defaultCatalogCardProps.notForSale,
		}

		let vModeClass = checkProps.vMode ? `catalog-card--${checkProps.vMode}` : ''

	.catalog-card(class= checkProps.classes + vModeClass)&attributes(attributes)
		a.catalog-card__link(href="javascript:void(0);")
		.catalog-card__header
			- if(checkProps.tags.length > 0)
				.catalog-card__tags
					- let tagsCounter = 0
						- while (tagsCounter < checkProps.tags.length)
							- let currentTag = checkProps.tags[tagsCounter]
							.catalog-card__tagblock(class= `${currentTag.note ? 'hovered' : ''}`)
								.catalog-card__tag(class= `catalog-card__tag--${currentTag.color}`)
									- if(currentTag.img.length > 0)
										img(src= currentTag.img)
									!= currentTag.text
								-if(currentTag.note)
									.catalog-card__note!= currentTag.note
							- tagsCounter++
				.catalog-card__controls
					a.catalog-card__control(data-modal="#quickViewModal")
						svg
							use(xlink:href=`img/sprites/sprite.svg#view`)
					a.catalog-card__control(href="javascript:void(0)")
						svg
							use(xlink:href=`img/sprites/sprite.svg#compare_2`)
		.catalog-card__body
			.catalog-card__photo
				img(src= checkProps.image alt= checkProps.title)
			.catalog-card__info
				.catalog-card__title!= checkProps.title
				- if(checkProps.desc.length > 0)
					.catalog-card__desc!= checkProps.desc
		- if(checkProps.prices.length > 0)
			.catalog-card__prices
				.catalog-card__price!= checkProps.prices[0]
				- if(checkProps.prices[1].length > 0)
					.catalog-card__price.catalog-card__price--old!= checkProps.prices[1]

		.catalog-card__footer
			- if(checkProps.notForSale === true)
				+btn({
					classes: 'catalog-card__full-btn',
					name: 'Смотреть аналоги',
					cMode: 'transparent-red'
				})
			- else
				+btn({
					name: 'Заказать в 1 клик',
					cMode: 'red'
				})
				- if(checkProps.vMode == 'catalog')
					+btn({
						name: 'Смотреть модели',
						cMode: 'transparent-red'
					})
				-else
					+btn({
						name: 'В корзину',
						cMode: 'transparent-red',
						icon: 'basket',
						iconPos: 'left'
					})