-
    const defaultTitleProps = {
        tag: 'h2',
        size: '83',
        text: 'Заголовок',
        sup: '',
        note: '',
        cMode: 'dark', //dark - на светлом фоне, light - на тёмном фоне
        classes: '',
    }

mixin title(props = defaultTitleProps)
    -
        const checkProps = {
            tag: props.tag ? props.tag : defaultTitleProps.tag,
            size: props.size ? props.size : defaultTitleProps.size,
            text: props.text ? props.text : defaultTitleProps.text,
            sup: props.sup ? props.sup : defaultTitleProps.sup,
            note: props.note ? props.note : defaultTitleProps.note,
            cMode: props.cMode ? props.cMode : defaultTitleProps.cMode,
            classes: props.classes ? props.classes : defaultTitleProps.classes
        }


    case checkProps.tag
        when 'h1'
            .title(class=checkProps.classes + ` title--${checkProps.size} title--${checkProps.cMode}`)
                h1!= checkProps.text
                    -if(checkProps.sup)
                        span.title__sup!= checkProps.sup
                    - if(checkProps.note)
                        span.title__note!= checkProps.note
        when 'h2'
            .title(class=checkProps.classes + ` title--${checkProps.size} title--${checkProps.cMode}`)
                h2!= checkProps.text
                    -if(checkProps.sup)
                        span.title__sup!= checkProps.sup
                    - if(checkProps.note)
                        span.title__note!= checkProps.note
        when 'h3'
            .title(class=checkProps.classes + ` title--${checkProps.size} title--${checkProps.cMode}`)
                h3!= checkProps.text
                    -if(checkProps.sup)
                        span.title__sup!= checkProps.sup
                    - if(checkProps.note)
                        span.title__note!= checkProps.note
        when 'p'
            .title(class=checkProps.classes + ` title--${checkProps.size} title--${checkProps.cMode}`)
                p!= checkProps.text
                    -if(checkProps.sup)
                        span.title__sup!= checkProps.sup
                    - if(checkProps.note)
                        span.title__note!= checkProps.note